html,
body {
    height: 100%;
    background: #f5f5f5;
}

.navbar a.navbar-brand {
    padding: 0px 15px 0px;
    margin-top: -4px;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-bottom: 5px;
}

p {
    line-height: 180%;
}

pre {
    overflow: auto;
}

em {
    font-size: 18px;
    font-weight: bold;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.breadcrumb {
    margin-bottom: 10px;
}

.container h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* post images */

.post-img {
    border-style: solid;
    border-color: #dddddd;
    box-shadow: 0;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.post-img img {
    /*border-radius: 5px;*/
}

.post-img-center {
    display: inline-block;
    margin: 0 auto 15px auto;
}

.post-img-center-wrap {
    width:100%;
    overflow:hidden;
    margin:auto;
    text-align: center;
}

.post-img-left {
    float: left;
    margin: 0 15px 15px 0;
}

.post-img-right {
    float: right;
    margin: 0 0 15px 15px;
}

.post-img-text p {
    font-size: 12px;
    margin: 0 15px 0 0;
    line-height:180%;
    padding: 5px;
    text-align: left;
}

.post-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    overflow-y: hidden;
    clear:both;
}

.post-item h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

#social-likes {
    padding-left: 0px;
    padding-right: 0px;
}

/* category */

.in-section {
    font-size: 20px;
    color: #888;
    white-space: nowrap;
}

.category h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #337ab7;
    /*padding-left: 30px;*/
}

.category {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    overflow-y: hidden;
}

.category blockquote {
    font-size: 14px;
}

.post-item .post-short h3 {
    margin-top: 0;
}

.post-item .post-short .entry-meta {
    margin-bottom: 20px;
}

.post-item .post-short .entry-meta > span {
    display: inline-block;
    color: #999;
    margin-right: 10px;
    font-size: 12px;
}

.post-item .post-short .entry-meta > span a {
    color: #999;
}

.post-short .post-img {
    cursor: pointer;
}

.img-category {
    border-radius: 5px;
    width: 108px;
}

/* pagination */

ul.pagination > li > a, ul.pagination > li > span {
    border: 0;
}
ul.pagination > li.active > a,
ul.pagination > li:hover > a,
ul.pagination > li.active > span,
ul.pagination > .active > span:hover {
    background-color: #34495e;
    color: #fff;
}

/* comments */
.comments-list {
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 20px 0 20px;
    overflow-y: hidden;
}

.comments-list h4 {
    padding-left:20px;
}

/* side-bar */
.bar-tab {
    padding-top:2px;
}

.bar-list-item {
    overflow:hidden;
    padding-left:10px;
    padding-right:5px;
}

.bar-post-img {
    float:left;
    margin-right:10px;
}

.bar-comment-img {
    float:left;
    text-align:center;
    width:90px;
}

.bar-comment-date {
    border-bottom: 1px dashed #aeaeae;
}

/* Site Map */

.sitemap h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

.sitemap {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

ul.sitemap-category li {
    list-style: none;
}

.sitemap-category li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    content: "\e118";
    color:#eead0e;
}

.sitemap-category > li a {
    font-size: 14px;
    text-transform: uppercase;
}

.sitemap-category ul li:before {
    position: relative;
    top: 2px;
    left: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    content: "\e142";
    color:#337ab7;
}

.sitemap-category a {
    font-weight: bold;
}

.sitemap-post a {
    text-transform: none;
    font-size: inherit;
    font-weight: normal;
}

ul.sitemap-post {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
}

ul.sitemap-post li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    content: "\e022";
    color:#999;
}

.sitemap-category ul li a {
    text-transform: none;
}
/* Related posts */
.related-posts h4 {
    padding-left: 15px;
}