.fresh-img {
    width:360px;
    overflow:hidden;
    position:relative;
    margin-right:5px;
}

p.fresh-img {
    color: #fff;
    font-size: 14px;
    left: 0;
    bottom: 76px;
    line-height: 20px;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 10px 0 10px 15px;
}

p.fresh-img a {
    color: white;
    font-size: 19px;
}

.fresh-img-anons {
    padding:5px;
}

.fresh-img-text p {
    width:350px;
    height:76px;
    font-size: 12px;
    margin: 0 15px 0 0;
    line-height:180%;
    padding: 5px;
    text-align: left;
}

.posts-block {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    overflow-y: hidden;
}

.posts-block-title {
    margin-top: 0px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    font-size: 20px;
}

.category-more-link {
    border-top: 2px solid #eaeaea;
    padding-top:5px;
}

.section-post {
    overflow: hidden;
    margin-bottom: 14px;
}

.section-post img {
    margin-right:10px;
    margin-left: 0px;
    float: left;
}

.section-post a {
    font-weight:bold;
}

.section-post-text {
    line-height:100%;
    padding-top:5px;
}

.section-post-text a {
    font-size:95%;
    color:#444;
    font-weight: normal;
}

.section-icon {
    color:#eead0e;
    font-size:16px;
}